<div class="container">

    <div class="row">
        <div class="col">
            <table class="table table-condensed table-bordered table-striped">
                <thead>
                <tr>
                    <th scope="col" class="text-right" width="30">#</th>
                    <th scope="col">Code</th>
                    <th scope="col">Name</th>
                    <th scope="col" class="text-center">Unit</th>
                    <th scope="col" class="text-center">Rate</th>
                    <th scope="col" class="text-center">
                        <button class="btn btn-outline-primary btn-sm" @click="refresh()">Refresh</button>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(item, index) of items">
                    <th scope="row" width="30">{{index+1}}</th>
                    <td width="40" class="text-uppercase">{{item.code}}</td>
                    <td class="text-capitalize">{{item.name}}</td>
                    <td class="text-right">{{item.unit}}</td>
                    <td class="text-right">{{item.rate}}</td>
                    <td class="text-center">
                        <button class="btn btn-outline-secondary btn-sm" @click="edit(item)">Edit</button>
                        &nbsp;&nbsp;
                        <button class="btn btn-outline-danger btn-sm" @click="remove(item)">Delete</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col">
            <form novalidate="" name="form0" ng-class="{ 'was-validated' : form0.$dirty }">
                <div>
                    <span class="text-danger" v-if="(message)">{{ message }}</span>
                    <button class="btn btn-outline-primary float-end" type="button" @click="add()">
                        <strong>New</strong>
                    </button>
                </div>
                <br/>
                <div class="form-group">
                    <label for="itemCode">Code <span class="text-danger">*</span></label>
                    <input id="itemCode" name="itemCode" class="form-control" placeholder="Code" type="text"
                           v-model="item.code"
                           required="true">
                </div>
                <div class="form-group">
                    <label for="itemName">Name <span class="text-danger">*</span></label>
                    <input id="itemName" name="itemName" class="form-control" placeholder="Name" type="text"
                           v-model="item.name"
                           required="true">
                </div>
                <div class="form-group">
                    <label for="itemUnit">Unit <span class="text-danger">*</span></label>
                    <input id="itemUnit" name="itemUnit" class="form-control" placeholder="Unit" type="text"
                           v-model="item.unit"
                           required="true">
                </div>
                <div class="form-group">
                    <label for="itemRate">Rate <span class="text-danger">*</span></label>
                    <input id="itemRate" name="itemRate" class="form-control" placeholder="Rate" type="text"
                           v-model="item.rate"
                           required="true">
                </div>
                <br/>
                <div>
                    <button class="btn btn-primary btn-lg float-end" type="button" @click="save()">
                        <strong>Save</strong>
                    </button>
                </div>
            </form>

        </div>
    </div>

</div>
